// grant all permissions for the DIO framework
grant {
    permission jdk.dio.DeviceMgmtPermission "*:*", "open";
    permission jdk.dio.gpio.GPIOPinPermission "*:*", "open,setdirection";
    permission jdk.dio.gpio.GPIOPortPermission "*:*";
    permission jdk.dio.i2cbus.I2CPermission "*:*";
    permission jdk.dio.spibus.SPIPermission "*:*";
    permission jdk.dio.uart.UARTPermission "*:*";
};
